<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.compiere.process.MPAssetPlanning"
         name="MP Asset Planning"
         point="org.adempiere.base.Process">
      <process
            class="org.maintenance.process.MPAssetPlanning">
      </process>
   </extension>
   <extension
         id="org.compiere.process.MPCopyFromSJ"
         point="org.adempiere.base.Process">
      <process
            class="org.maintenance.process.MPCopyFromSJ">
      </process>
   </extension>
   <extension
         id="org.compiere.process.MPProcessOT"
         point="org.adempiere.base.Process">
      <process
            class="org.maintenance.process.MPProcessOT">
      </process>
   </extension>
   <extension
         id="org.compiere.process.ProcessRequestOT"
         point="org.adempiere.base.Process">
      <process
            class="org.maintenance.process.ProcessRequestOT">
      </process>
   </extension>
   <extension
         point="org.adempiere.base.IColumnCallout">
      <callout
            class="org.maintenance.model.CalloutAssetMPLogAmt"
            columnName="Amt"
            priority="2"
            tableName="MP_AssetMeter_Log">
      </callout>
      <callout
            class="org.maintenance.model.CalloutAssetMPLogMeterSearch"
            columnName="MP_AssetMeterSearch_ID"
            priority="1"
            tableName="MP_AssetMeter_Log">
      </callout>
   </extension>
      <extension
         id="org.compiere.apps.form.VMPGenerateOT"
         point="org.adempiere.webui.Form">
      <form
            class="org.maintenance.form.WMPGenerateOT">
      </form>
   </extension>
   <extension
         id="org.compiere.apps.form.VMPProgrammingOT"
         point="org.adempiere.webui.Form">
      <form
            class="org.maintenance.form.WMPProgrammingOT">
      </form>
   </extension>
   <extension
         id="org.compiere.apps.form.VMPRequestOT"
         point="org.adempiere.webui.Form">
      <form
            class="org.maintenance.form.WMPRequestOT">
      </form>
   </extension>
</plugin>
